/* Variables */
:root {
    --main-bg-color: rgba(0, 0, 0, 0.7);
    --main-text-color: #fff;
    --hover-color: #4ca5af;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Body */
body {
    width: 100%;
    min-height: 100vh; /* Updated to min-height for responsiveness */
    background-image: url(train2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigation */
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--main-text-color);
}

nav .logo {
    font-size: 1.5rem;
}

nav .links a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 0 10px;
}

nav .links a:hover {
    color: var(--hover-color); /* Updated to use variable */
}

nav .buttons {
    width: 250px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .buttons button {
    margin: 0 5px;
    width: 40%;
    height: 5vh;
    border: none;
    border-radius: 5px;
    outline: none;
    color: var(--main-text-color);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(16, 16, 16);
    transition: 0.2s linear;
}

.buttons button:hover {
    color: rgb(16, 16, 16);
    background-color: transparent;
    border: 2px solid rgb(16, 16, 16);
    box-shadow: 0 0 10px 4px rgb(16, 16, 16);
}

/* Section */
section {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 40%;
    text-align: center;
    color: var(--main-text-color);
}

.content h1 {
    font-size: 3rem;
}

.content p {
    width: 60%;
    margin: 20px 20%;
}

.content button {
    width: 40%;
    height: 7vh;
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--main-text-color);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    background-color: rgb(16, 16, 16);
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    font-size: 1.3rem;
    color: rgb(16, 16, 16);
    background-color: transparent;
    border: 1px solid rgb(16, 16, 16);
    box-shadow: 0 0 10px 3px rgb(16, 16, 16);
}

/* Form Wrapper */
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2.5px);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    padding: 30px 40px;
    width: 600px;
    color: var(--main-text-color);
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--main-text-color);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: var(--main-text-color);
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-30%);
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0 0 10 rgba(255, 255, 255, 0.2);
    color: #333;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: var(--main-text-color);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.register-link p a:active {
    color: #000;
}

ul {
    list-style: none;
    background: #000;
}

.wrapper label {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--main-text-color);
}

.wrapper select {
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: var(--main-text-color);
    padding: 0 45px 0 20px;
}

.wrapper select option {
    background: #000;
    color: var(--main-text-color);
}

.wrapper select::placeholder {
    color: var(--main-text-color);
}

.wrapper select:focus {
    border: 2px solid #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}
tr:hover {
    background-color: black;
    cursor: pointer;
}
